$dark-grey1: #151619;
$dark-grey2: #1d1f22;
$dark-grey3: #2b2d31;
$dark-grey4: #35393f;
$light-grey1: #5a6069;
$light-grey2: #7c8187;
$light-grey3: #c1c4cb;
$light-grey4: #e4e4e4;
$light-grey5: #f5f5f5;
$white: #ffffff;
$dark-orange: #e46643;
$light-orange: #f39765;
