@import '../../styles/variables';
@import '../../styles/mixins';

.grid {
  display: grid;
}
.wrapper {
  // position: relative;
  transition: transform 0.2s ease-in-out;
  background-color: var(--background);
  color: var(--text-primary);
}

.col-tripple {
  grid-template-columns: 1fr 6fr;
}

.col-double {
  grid-template-columns: 1fr;
}

.main {
  height: calc(100vh - 75px);
  display: block;
  overflow-y: scroll;

  @include devices(tablet) {
    display: flex;

    > div {
      flex: 1;
      height: 90vh;
    }
  }
}

.markdown-container {
  border-right: 1px solid $light-grey4;
  background-color: #fff;
  color: #35393f;
  textarea {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    height: 90vh;
    border: none;
    outline: none;
  }
}

.main-heading {
  background-color: $light-grey5;
  padding: 0.5rem 1rem;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 2px;
  color: $light-grey2;
  display: flex;
  justify-content: space-between;
}

.preview-content {
  padding: 0.5rem 1rem;
  height: 90vh;
  background-color: #fff;
  color: #35393f;
  //overflow-y: scroll;
}

.preview-icon {
  @include devices(tablet) {
    display: none;
  }
}

.hide {
  display: none;
}
