@import '../../styles/variables';
@import '../../styles/mixins';

.header {
  display: flex;
  height: 7.2rem;
  background-color: $dark-grey3;
  color: $white;
}

.side {
  padding: 27px 21px;
  background-color: $dark-grey4;
  flex-basis: auto;
}

.side-btn {
  align-self: center;
  // border: 3px solid #272727;
  cursor: pointer;

  > div {
    background: $white;
    margin: 6px 4px;
    width: 40px;
    height: 5px;
    transition: all 3s ease;
  }
}

.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 6px);
}
.change .bar2 {
  opacity: 0;
}
.change .bar3 {
  transform: rotate(45deg) translate(-7px, -8px);
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  flex: 1;

  &-content {
    display: flex;
    align-items: center;
  }

  &__heading {
    display: none;
    color: $white;
    padding: 5px 15px;
    border-right: 2px solid $light-grey1;
    margin-right: 10px;
    text-transform: uppercase;

    @include devices(tablet) {
      display: inline-block;
    }
  }
}

.doc-name {
  color: $light-grey1;
  margin-left: 10px;
}

.input-doc {
  display: block;
  border: none;
  outline: none;
  background-color: transparent;
  color: $white;
  margin-left: 10px;
  padding-bottom: 5px;

  &:hover {
    border-bottom: 1px solid $white;
  }
  &::placeholder {
    color: $white;
    opacity: 1;
  }
}

.header-save {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.delete {
  cursor: pointer;
}

.save-changes {
  display: flex;
  background-color: $dark-orange;
  padding: 0.5rem;
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  margin-left: 10px;
  cursor: pointer;

  &:hover {
    background-color: $light-orange;
  }

  span {
    display: none;
    margin-left: 5px;

    @include devices(tablet) {
      display: block;
    }
  }
}
