@import '../../styles/variables';
@import '../../styles/mixins';

.icon-centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

.dark-box {
  margin-right: 0.5rem;
  height: 2.5rem;
}

.doc {
  display: flex;
  // justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.name-title {
  font-weight: 400;
  font-size: 0.8rem;
  color: #7c8187;
}

.doc-name {
  font-weight: 400;
  font-size: 0.7rem;
  color: #fff;
}

.doc-name:hover {
  color: #f39765;
}

.sidebar {
  // position: fixed;
  // width: 200px;
  height: 100vh;
  background-color: $dark-grey2;
  // // transform: translateX(-200px);
  // top: 0;
  transition: transform 0.2s ease-in-out;
  padding: 1rem 0.7rem;
  // display: flex;
  // flex-direction: column;
  // justify-content: space-between;

  grid-row: 1 / -3;

  // border: 1px solid orangered;

  &-title {
    color: $light-grey2;
  }
}

.show,
.hidden {
  display: none;
  // transform: translateX(200px);
}

.open-new {
  outline: none;
  border: none;
  background-color: $dark-orange;
  color: $white;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  margin-top: 0.5rem;
  cursor: pointer;
}

.open-new:hover {
  background-color: #f39765;
}

.theme {
  position: relative;
  top: 33rem;
  padding: 0 1.5rem;
}

.theme-toggler {
  display: inline-block;
  width: 48px;
  height: 24px;
  background-color: $light-grey1;
  border-radius: 14.5px;
  padding: 5px 6px;
  cursor: pointer;
}

.switch {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $white;
  position: relative;
  transform: translateX(175%);
  transition: transform 0.4s ease-in-out;
}

.dark-mode {
  transform: translateX(0);
}

.theme-icon {
  color: $light-grey1;
  display: inline-block;
  margin: 0 0.3rem;
}

.white {
  color: $white;
}

.new-name {
  position: fixed;
  top: 12%;
  left: 1%;
  height: 2rem;
  border-radius: 4px;
  align-self: center;
  width: 13%;
}

.doc-details {
  font-size: 1rem;
}
